<div class="sidebar">
    <div class="title">Pokemons</div>
    <div class="grid-container">
        <button class="btn btn-primary btn-rounded-corners add-button" routerLink="/new-pokemon">Add Pokemons</button>


        <p class="black-text " *ngFor="let item of pokemons">
            <ng-template [ngIf]="item.legendario">
                <div class="poklegend grid-item">
                    {{item._id}} <br> {{item.nombre}} <br> {{item.numero}}<br> {{item.generacion}} <br>
                    {{item.region}}<br> {{item.tipo}} <br> {{item.evolucion}}<br> {{item.legendario}}
                    <br>{{item.cantidad}} <br> {{item.precio}}$
                </div>
            </ng-template>
            <ng-template [ngIf]="!item.legendario">
                <div class="grid-item">
                    {{item._id}} <br> {{item.nombre}} <br> {{item.numero}}<br> {{item.generacion}} <br>
                    {{item.region}}<br> {{item.tipo}} <br> {{item.evolucion}}<br> {{item.legendario}}
                    <br>{{item.cantidad}} <br> {{item.precio}}$
                </div>
            </ng-template>
            <button class="btn btn-primary btn-rounded-corners" (click)="deletePokemon(item)">
                Delete pokemon
            </button>
        </p>
    </div>
</div>